body{
    width:1000px;
}

header{
    width:100%;
    margin-bottom: 1px;
}

.header img{
    width: auto;
    display: block;
    height: 100px;
    text-align: left;
}

.header-text{
    color: white;
    background-color: black;
    height: 50px;
}

.header-text ul{
    float: left;
    line-height: 15px;
    font-size: 18px;
}

.header-text ul li{
    list-style: none;
    float: left;
    padding-right:20px;
}

main {
    display: flex;
    height: auto;
}

.left{
    box-sizing: border-box;
    float: left;
    width: 70%;
    margin-right: 10px;
}

.left h1{
    border-left: 5px black solid;
    border-bottom: 3px black solid;
    padding-left: 3px;
}

form{
    width: auto;
    margin: 0 0 20px 0;
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    border-radius: 10px;
}

form h2{
    border-left: 5px red solid;
    padding-left: 10px;
    margin-left: 15px;
}

form div{
    padding:15px;
}
    
form .text,textarea{
    border: 1px solid #dfdfdf;
    padding: 5px;
    color: #999;
    background: #fff;
}
    
form .submit{
    border: 1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color: #bfbfbf;
    border-radius: 5px;
    border-bottom: 2px solid gray;
}

.kiji {
    width: auto;
    margin: 10px auto;
    padding: 0px 10px 10px 10px;
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    border-radius: 10px;
}

.kiji h3{
    border-bottom: 1px solid lightgray;
    padding-left: 10px;
}

.contents{
    padding: 0px 10px;
}

.right{
    box-sizing: border-box;
    float: left;
    width: 30%;
    margin-top: 10px;
}

.right-container{
    width: 100%;
    float: left;
}

.right-container h2{
    border-bottom: 3px dotted lightgray; 
    margin-top: 20px;
    font-size: 15px;
}

.right-container ul{
    float: left;
}

.right-container ul li{
    list-style: none;
    font-size: 14px;
}

footer{
    width: 100%;
    color: white;
}

.footer{
    width: auto;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: black;
}